# default
*                       text=auto

# source
*.css                   text
*.html                  text diff=html
*.js                    text
*.json                  text
*.jsx                   text
*.map                   text -diff
*.scss                  text diff=css
*.ts                    text
*.tsx                   text

# config
package.json            text eol=lf
package-lock.json       text eol=lf

# binary
*.png                   binary
*.jpg                   binary
*.jpeg                  binary
*.gif                   binary
*.ico                   binary
*.gz                    binary
*.zip                   binary
*.7z                    binary
*.ttf                   binary
*.eot                   binary
*.woff                  binary
*.pdf                   binary
